DEBUG: false

domain: mydomain.net
registrar: true
registar_port: 3960

challenges:
    example:
      port: 1194
      files:
          - example/docker-compose.yml
          - common/docker-compose.yml
      commonname: foo.bar.mydomain.net
