version: '2'

services:
    {% if DEBUG -%}
    eve:
        build: ./eve/build
        networks:
            default:
            internal:
        stdin_open: true
        tty: true
        volumes:
            - ./eve/config:/config
        privileged: true

    {% endif -%}
    {% for chal in challenges -%}
    openvpn-{{ chal.short_name }}:
        extends:
            file: openvpn-compose.yml
            service: openvpn
        volumes:
            - ./openvpn/config/{{ chal.short_name }}:/etc/openvpn
        networks:
            default:
            internal:
        ports:
            - "{{ chal.port }}:{{ chal.port }}/udp"
        environment:
            - NAUM_FILES={{ chal.files|tojson }}

    {% if chal.registrar -%}
    registrar-{{ chal.short_name }}:
        extends:
            file: openvpn-compose.yml
            service: registrar
        volumes:
            - ./openvpn/config/{{ chal.short_name }}/ovpn_env.sh:/etc/openvpn/ovpn_env.sh:ro
            - ./openvpn/config/{{ chal.short_name }}/pki:/etc/openvpn/pki
        networks:
            internal:

    {% endif -%}
    {% endfor -%}
    redis:
        image: "redis:alpine"
        networks:
            internal:
                aliases:
                    - "$REDIS_HOSTNAME"
        volumes:
            - ./redis/config:/usr/local/etc/redis
        command: [redis-server, /usr/local/etc/redis/redis.conf]

    cluster-manager:
        build: ./cluster-manager/build
        depends_on:
            - redis
        networks: 
            internal:
        volumes:
            - ./cluster-manager/app:/app
            - ./challenges:/challenges
            - /var/run/docker.sock:/var/run/docker.sock
            - /var/run/docker/netns/default:/var/run/netns/host
        command: [python3, /app/cluster-manager.py]
        environment:
            - REDIS_HOSTNAME
            - REDIS_PORT
            - REDIS_DB
            - REDIS_PASSWORD
        privileged: true # TODO: Narrow down privileges
        restart: always


networks:
    internal:
        internal: true
