mode server
tls-server

verb 3
key /etc/openvpn/pki/private/{{ domain }}.key
ca /etc/openvpn/pki/ca.crt
cert /etc/openvpn/pki/issued/{{ domain }}.crt
dh /etc/openvpn/pki/dh.pem
tls-auth /etc/openvpn/pki/ta.key
key-direction 0
persist-key
#keepalive 10 60
#persist-tun

ping 10
ping-exit 1800

cipher AES-256-CBC
auth SHA256

proto udp
# Rely on Docker to do port mapping, internally always 1194
port 1194
dev tap0
status /tmp/openvpn-status.log

user nobody
group nogroup
comp-lzo

### Open the management interface
# This interface should never be exposed beyond localhost
management 127.0.0.1 7000

push dhcp-renew
push float

duplicate-cn

### Extra Configurations Below
script-security 2
client-connect /scripts/naumachia/client_connect.py
client-disconnect /scripts/naumachia/client_disconnect.py

### VLAN Tagging
vlan-tagging
