mode server
tls-server

log /var/log/openvpn.log

verb 3
key /etc/openvpn/pki/private/{{ chal.commonname }}.key
ca /etc/openvpn/pki/ca.crt
cert /etc/openvpn/pki/issued/{{ chal.commonname }}.crt
dh /etc/openvpn/pki/dh.pem
key-direction 0
persist-key
#keepalive 10 60
#persist-tun

# provides no aditional security in the Naumachia use case
#tls-auth /etc/openvpn/pki/ta.key

ping 10
ping-exit 1800

cipher AES-256-CBC
auth SHA256

# Rely on Docker to do port mapping, internally always 1194
port 1194

proto udp
dev tap0
status /tmp/openvpn-status.log

user nobody
group nogroup
comp-lzo

### Open the management interface
# This interface should never be exposed beyond localhost
management 127.0.0.1 7000

# Inform Windows machines that they should renew DHCP on connect
push dhcp-renew

# Allow the same to connect multiple times
duplicate-cn

### Set up connect and disconnect scripts which notify the Redis DB
script-security 2
client-connect /scripts/naumachia/client_connect.py
client-disconnect /scripts/naumachia/client_disconnect.py

### VLAN Tagging
vlan-tagging
